body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  display: block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  /* max-width: 1128px; */
  /* width: 100%; */
  /* padding-right: 156px;
  padding-left: 156px; */
  border: 2px red solid;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1128px;
    padding-right: 156px;
    padding-left: 156px;
  }
}

/* ==================  */

/* =========HEADER=========  */

.header {
  display: flex;
  justify-content: center;
  /* padding: 24px 0; */
  padding: 16px 0;
}

@media screen and (min-width: 1158px) {
  .header {
    padding: 24px 0;
  }
}

.header-wrapper {
  display: flex;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .nav-wrapper {
    margin-right: 102px;
  }
}

@media screen and (min-width: 1158px) {
  .nav-wrapper {
    margin-right: 332px;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
}

.logo-span {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .burger-menu {
    display: none;
  }
}

.header-nav {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-nav {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .header-nav {
    display: flex;
  }
}

.header-nav-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.header-nav-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  transition-duration: 300ms;
}

.header-nav-item:active::after {
  content: '';
  position: absolute;
  display: flex;
  margin-top: 12px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
}

.header-nav-item:hover,
.header-contacts-item:hover {
  color: #404bbf;
}

.header-contacts-list {
  display: none;
  /* display: flex;
  gap: 40px;
  padding-left: 0; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1158px) {
  .header-contacts-list {
    display: flex;
    gap: 40px;
    padding-left: 0;
  }
}

.header-contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-duration: 300ms;
}

/* ==================  */

/* =========HERO=========  */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/hero-phone@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  justify-content: center;
  /* width: 1440px; */
  /* max-width: 1440px; */
  margin-bottom: 96px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
      url(../images/hero-tablet@1x.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
      url(../images/hero-desktop@1x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-wrapper {
    gap: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-wrapper {
    gap: 48px;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    max-width: 376px;
  }
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  transition-duration: 300ms;
}

.hero-btn:hover {
  background-color: #404bbf;
}

/* ==================  */

/* ========OUR_GOALS==========  */

.our-goals {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .our-goals {
    padding-top: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .our-goals {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-top: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .goals-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .goals-list {
    flex-direction: row;
    gap: 24px;
  }
}

.goals-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .goals-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .goals-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.goal-item-icon {
  display: none;
  justify-content: center;
  align-items: center;

  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding: 24px 100px;
}

@media screen and (min-width: 1158px) {
  .goal-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
  }
}

.goals-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .goals-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .goals-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.goals-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .goals-text {
    font-weight: 400;
  }
}

/* ==================  */

/* ========OUR_TEAM==========  */

.our-team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  width: 100%;
  max-width: 1440px; */
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 72px;
  }
}

.our-team-item {
  /* width: calc((100% - 3 * 24px) / 3); */
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .our-team-item {
    width: calc((100% - 2 * 108px - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.our-team-img {
  width: 100%;
  margin-bottom: 32px;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 8px 0;
}

.our-team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 0 8px 0;
}

.soc-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.soc-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-duration: 300ms;
}
.soc-link:hover {
  background-color: #404bbf;
}

.soc-icon {
  fill: #f4f4fd;
}

/* ==================  */

/* ========PORTFOLIO==========  */

.portfolio {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  /* gap: 48px 24px; */
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-item {
  width: 100%;
  /* width: calc((100% - 2 * 48px) / 3); */
  transition-duration: 300ms;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-item:hover .portfolio-cover-container {
  transform: translateY(0);
}

.portfolio-cover-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
}

.portfolio-cover-container {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  display: flex;
  padding: 0 32px;
  transform: translateY(100%);
  transition: transform 400ms linear;
}

.portfolio-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 40px;
}

.portfolio-info {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* ==================  */

/* =======FOOTER===========  */

.footer {
  display: flex;
  justify-content: center;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  width: 100%;
  /* max-width: 1440px; */
}

@media screen and (min-width: 1158px) {
  .footer {
    background-color: #2e2f42;

    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-content {
    display: flex;
    flex-direction: row;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 72px;
  /* margin-right: 120px; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-info {
    align-items: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-info {
    align-items: start;
    margin-right: 120px;
  }
}

.footer-logo {
  color: #ffffff;
  margin-right: 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-soc-list {
    gap: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-soc-list {
    gap: 16px;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* margin-right: 80px; */
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-social {
    align-items: start;
    gap: 16px;
    margin-left: 24px;
    padding-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social {
    align-items: start;
    gap: 16px;
    margin-right: 80px;
  }
}

.feedback-btn {
  max-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;

  transition-duration: 300ms;
}

.feedback-btn:hover {
  background-color: #31d0aa;
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}

.footer-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-feedback {
    align-items: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-feedback {
    align-items: start;
    gap: 24px;
  }
}

.footer-feedback-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-feedback-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-feedback-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

.feedback-form {
  width: 264px;
  background-color: transparent;
  /* padding-top: 8px; */
  padding-left: 16px;
  /* padding-bottom: 8px; */
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  transition-duration: 300ms;
}

.feedback-form:hover {
  border-color: #31d0aa;
}

.feedback-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* ==================  */

/* ======MODAL============  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 24px 16px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 24px;
  }
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-bottom: 24px;
  /* margin-left: 384px; */
  margin-left: 256px;
  margin-right: 8px;
  transition-duration: 300ms;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal-close {
    margin-left: 384px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .modal-close {
    margin-left: 384px;
    margin-right: 0;
  }
}

.modal-close:hover {
  background-color: #404bbf;
  fill: #ffffff;
  transition-duration: 300ms;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field {
  margin-bottom: 8px;
}

.modal-lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-icon-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  /* max-width: 360px; */
  max-width: 250px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  /* padding-left: 38px; */
  padding-left: 34px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition-duration: 300ms;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal-input {
    width: 100%;
    max-width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-input {
    width: 100%;
    max-width: 360px;
  }
}

.modal-input:focus,
.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  /* left: 16px; */
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 300ms;
}

@media screen and (min-width: 1158px) {
  .input-icon {
    left: 16px;
  }
}

.modal-text {
  width: 100%;
  /* max-width: 360px; */
  max-width: 256px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;

  resize: none;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal-text {
    max-width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-text {
    max-width: 360px;
  }
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.check-lable {
  margin-bottom: 24px;
  display: flex;
}

.form-check:checked + .check-lable span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}

.check-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.check-lable a {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.check-lable span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}

.submit-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: 60px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .submit-btn {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .submit-btn {
    margin-left: 120px;
  }
}

.submit-btn:active {
  background-color: #404bbf;
}

/* ==================  */
