body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  margin: 0 auto;
}

ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  display: block;
  cursor: pointer;
}

.container {
  max-width: 1128px;
  width: 100%;
  padding-right: 156px;
  padding-left: 156px;
  /* border: 2px red solid; */
}

/* ==================  */

/* =========HEADER=========  */

.header {
}

.header-wrapper {
  display: flex;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-span {
  color: #4d5ae5;
}

.header-nav {
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
}

.header-nav-item:active::after {
  content: '';
  position: absolute;
  display: flex;
  margin-top: 12px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
}

.header-nav-item:hover,
.header-contacts-item:hover {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================  */

/* =========HERO=========  */

.hero {
  /* background-color: #2e2f42; */
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/hero-img@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  justify-content: center;
  /* max-width: 1440px; */
  margin-bottom: 120px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
}

.hero-btn:hover {
  background-color: #404bbf;
}

/* ==================  */

/* ========OUR_GOALS==========  */

.our-goals {
}

.goals-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  margin-top: 0;
  padding-left: 0;
}

.goals-item {
  width: calc(100% - 3 * 24px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.goal-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding: 24px 100px;
  /* width: 264px;
  height: 112px; */
}

.goals-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.goals-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================  */

/* ========OUR_TEAM==========  */

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  width: 100%;
  max-width: 1440px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.our-team-item {
  width: calc((100% - 3 * 24px) / 3);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-img {
  width: 100%;
  margin-bottom: 32px;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 8px 0;
}

.our-team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 0 8px 0;
}

.soc-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.soc-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.soc-link:hover {
  background-color: #404bbf;
}

.soc-icon {
  fill: #f4f4fd;
}

/* ==================  */

/* ========PORTFOLIO==========  */

.portfolio {
  /* width: 100%; */
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;

  padding-bottom: 120px;
}

.portfolio-item {
  width: calc((100% - 2 * 48px) / 3);
  width: 360px;
}

.portfolio-img {
  width: 100%;
}

.portfolio-info {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* ==================  */

/* =======FOOTER===========  */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1440px;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 120px;
}

.footer-logo {
  color: #ffffff;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.feedback-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
}

.feedback-btn:hover {
  background-color: #31d0aa;
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}

/* ==================  */
